body{
  font-family: 'Space Grotesk', sans-serif;
  background-image: url("./src/assets/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 300px;
  margin: 50px auto;
}

.End{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50px;
  width: 300px;
}

.front-image{
  position: relative;
  top: 50px;
  left: 200px;
  width: 350px;
}

.big{
  position: absolute;
  top: 20px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
}

.small{
  position: absolute;
  top: 30px;
  left: 75px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid white;
}

.front-card-number{
  position: absolute;
  color:  hsl(0, 0%, 100%);
  top: 80px;
  left: 25px;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 8px;
}

.front-card-name{
  position: absolute;
  color:  hsl(0, 0%, 100%);
  text-transform: uppercase;
  top: 145px;
  left: 25px;
  font-size: 12px;
}

img{
  max-width: 350px;
}

.front-card-expiry{
  position: absolute;
  color:  hsl(0, 0%, 100%);
  top: 145px;
  right: 30px;
  font-size: 12px;
  letter-spacing: 2px;
}

.back-image{
  position: relative;
  top: 75px;
  left: 280px;
  width: 350px;
}

.back-card-cvv{
  position: absolute;
  color:  hsl(0, 0%, 100%);
  top : 70px;
  left: 275px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.form-data{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  gap: 10px;
  max-width: 300px;
}

input{
  font-size: 14px;
  padding: 10px 10px;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.div-one{
  width: 90%;
}

.month{
  width: 30%;
}

.year{
  margin-left: 5px;
  width: 30%;
}

.month,.year,.cvv{
  margin-top: 10px;
}

.cvv{
  box-sizing: border-box;
  width: 100%;
}

label{
  font-weight: 700;
  margin-top: 10px;
}

.button:hover{
  background-color: hsl(278, 68%, 11%) !important;
  color: white !important;
  cursor: pointer !important;
}

input:focus{
  outline: 0.5px solid hsl(249, 99%, 64%);
  border-radius: 2px;
}

@media screen and (max-width : 960px) {

  body{
    font-family: 'Space Grotesk', sans-serif;
    background-image: url("./src/assets/images/bg-main-mobile.png");
    background-size:contain;
  }
  
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 450px;
    margin: auto;
  }

  .back-image{
    position: absolute;
    top: 75px;
    left: 140px;
    max-width: 350px;
  }

  .front-image{
    position: absolute;
    top: 250px;
    left: 100px;
    max-width: 350px;
  }

}


@media screen and (max-width : 500px) {

  body{
    font-family: 'Space Grotesk', sans-serif;
    background-image: url("./src/assets/images/bg-main-mobile.png");
    background-size: contain;
  }
  
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 340px;
    margin: auto;
  }

  .back-image{
    position: absolute;
    top: 30px;
    left: 70px;
    max-width: 350px;
  }

  .front-image{
    position: absolute;
    top: 140px;
    left: 50px;
    max-width: 350px;
  }

}

@media screen and (max-width : 375px ) {
  
  body{
    font-family: 'Space Grotesk', sans-serif;
    background-image: url("./src/assets/images/bg-main-mobile.png");
    background-size: contain;
  }

  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .front-image{
    position: relative;
    top: 10px;
    left: 0px;
    width: 250px;
  }
  
  .big{
    position: absolute;
    top: 20px;
    left: 25px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: white;
  }
  
  .small{
    position: absolute;
    top: 30px;
    left: 60px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border: 1px solid white;
  }
  
  .front-card-number{
    position: absolute;
    color:  hsl(0, 0%, 100%);
    top: 60px;
    left: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    word-spacing: 8px;
  }
  
  .front-card-name{
    position: absolute;
    color:  hsl(0, 0%, 100%);
    top: 100px;
    left: 25px;
    font-size: 10px;
  }
  
  img{
    max-width: 250px;
  }
  
  .front-card-expiry{
    position: absolute;
    color:  hsl(0, 0%, 100%);
    top: 100px;
    right: 30px;
    font-size: 10px;
    letter-spacing: 2px;
  }
  
  .back-image{
    position: relative;
    top: 10px;
    left: 10px;
    width: 250px;
  }
  
  .back-card-cvv{
    position: absolute;
    color:  hsl(0, 0%, 100%);
    top : 10px;
    left: 210px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
  }

}